<div class='edit-page'>
  <div class='title'>Update Profile</div>
  <% if flash[:errors].present? %>
    <ul class='error-messages'>
      <% flash[:errors].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_with(model: @user) do |f| %>
    <%= f.label(:name) %><br>
    <%= f.text_field(:name) %><br>
    <%= f.label('Profile Photo') %><br>
    <%= image_tag(url_for(@user.display_image)) + '<br>'.html_safe if @user.avatar.present? %>
    <%= f.file_field(:avatar) %><br>
    <%= f.label(:summary) %><br>
    <%= f.rich_text_area(:summary, size: '30x10', placeholder: 'Tell us about yourself and your top gift preferences. Be specific!') %><br>
    <%= f.label(:email) %><br>
    <%= f.email_field(:email) %><br>
    <%= f.label(:password) %><br>
    <%= f.password_field(:password) %><br>
    <%= f.label(:password_confirmation, 'Password Confirmation') %><br>
    <%= f.password_field(:password_confirmation) %><br><br>
    <%= f.submit('Save Changes', class: 'submit-button') %>
  <% end %>
</div>