<% if flash[:success].present? %>
  <div class='success-message'><%= flash[:success] %></div>
<% end %>

<div class='profile-page'>
  <div class='left'>
    <div class='name'><%= @user.name %>  <%= link_to("<i class='fas fa-user-edit'></i>".html_safe, edit_user_path) %></div>
    <div class='avatar'><%= image_tag(url_for(@user.display_image)) if @user.avatar.present? %></div>
    <% if @user.summary.present? %>
      <div class='summary-label'>Summary</div>
      <div class='summary'><%= @user.summary %></div>
    <% end %>
  </div>
  <div class='right'>
    <%= link_to("<i class='fas fa-plus'></i> Create a New Secret Santa Game".html_safe, create_secret_santa_game_path) %><br>
    <%= link_to("<i class='fas fa-plus'></i> Create a New Greedy Grab Bag Game".html_safe, create_greedy_grab_bag_game_path) %>
    <div>{{ My Games }}</div>
  </div>
</div>
