<div class='edit-game-page new-game-page'>
  <div class='title'>Edit Secret Santa Game</div>
  <% if flash[:errors].present? %>
    <ul class='error-messages'>
      <% flash[:errors].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_with(model: @secret_santa) do |f| %>
    <%= f.label(:group_name, 'Group Name') %><br>
    <%= f.text_field(:group_name) %><br>
    <%= f.label(:date_of_draw, 'What is the date of the draw?') %><br>
    <%= f.date_field(:date_of_draw) %><br>
    <%= f.label(:budget, 'What is the budget for this game?') %><br>
    <%= f.number_field(:budget) %><br>
    <%= f.label(:date_of_game, 'What date is the game taking place?') %><br>
    <%= f.date_field(:date_of_game) %><br>
    <%= f.hidden_field(:creator, value: current_user[:id]) %>
    <%= f.hidden_field(:game_title, value: 'Secret Santa') %>
    <%= f.submit('Update Game', class: 'submit-button') %>
  <% end %>
</div>