 <% if flash[:success].present? %>
    <div class='success-message'><%= flash[:success] %></div>
  <% end %>

<div class='game-page'>
  <div class='game-info'>
    <div class='left'>
      <div class='title'>Welcome! Get ready for a fun game of <%= @secret_santa.game_title %></div>
      <div class='instructions'>
        <div class='instruction-label'>How to play</div>
        <%= instructions %>
      </div>
      <div class='stats'><%= game_info_table %></div>
        <div class='edit-buttons'>
          <div class='delete'><%= link_to('Delete Game', @secret_santa, method: :delete, data: {confirm: 'Are you sure?'}) if is_creator_of_game? %></div>
          <div class='edit'><%= link_to('Edit Game', edit_secret_santa_game_path) if is_creator_of_game? %></div>
        </div>
    </div>

    <div class='right'>
      <div class='countdown'>
        <div class='days'><%= countdown_to_draw %></div>
        <div>Days Until the Drawing!</div>
        <div>Drawing on <%= drawing_date.strftime('%B %d, %Y') %></div>
      </div>     
    </div>
  </div>

  <div class='players'>
    <% @secret_santa.users.each_slice(@secret_santa.users.length < 6 ? 1 : @secret_santa.users.length / 6) do |player_group| %>
      <div class='player-row'>
        <% player_group.each do |player| %>
          <a href="/users/<%= player.id %>">
            <div class='player-list'>
              <div class='avatar'><%= image_tag(url_for(player.display_image)) %></div>
              <div class='name'><%= player.name.split(' ').join('<br>').html_safe %></div>
            </div>
          </a>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
