<div class='title'>Create New Game</div>

<%= form_with(model: @game) do |f| %>
  <%= f.label(:game_title, 'Which type of game would you like to play?') %><br>
  <% game_types.each do |type| %>
    <%= f.radio_button(:game_title, type) %> <%= f.label(:game_title, type) %>
  <% end %><br>
  <%= f.label(:name, 'Group Name') %><br>
  <%= f.text_field(:name) %><br>
  <%= f.label(:date_of_draw, 'What is the date of the draw?') %><br>
  <%= f.date_field(:date_of_draw) %><br>
  <%= f.label(:budget, 'What is the budget for this game?') %><br>
  <%= f.number_field(:budget) %><br>
  <%= f.hidden_field(:admin_user, value: current_user[:id]) %>
  <%= f.submit('Create Game', class: 'submit-button') %>
<% end %>