<!DOCTYPE html>
<html>
  <head>
    <title>SecretSanta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/edbe4992b0.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='navbar'>
      <% if logged_in? %>
        <div><%= link_to('Profile', current_user) %></div>
        <div><%= link_to('Get Started', get_started_path) %></div>
        <div><%= link_to('Logout', logout_path, method: :delete) %></div>
        <div><%= link_to('<i class="fas fa-cog"></i>'.html_safe, '#') %></div>
      <% else %>
        <div><%= link_to('Home', root_path) %></div>
        <div><%= link_to('Login', login_path) %></div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
